*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-right: 150px;
    justify-content: space-between;
    margin-bottom: 50px;
}
.btn-resume{
    outline: none;
    padding: 17px 24px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    background-color: white;
}
.logo p{
    width: 128px;
    height: 33px;
    margin-left: 150px;
   
    color: rgb(13, 19, 33);
    font-size: 40px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
    

}
/* banner-section */
.banner-section{
    background-image: url(../images/Hero-bg.png);
   
    
}
.banner-img{
    
    padding: 26px 0px 0px 0px;
    text-align: center;
}
.banner-title{
    
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin: 32px 221px 24px 221px;
}
.banner-description{
    margin: 10px 294px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
#design{
    padding: 21px 24px;
    gap: 0 0 0 45px 0;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
    font-weight: bold;
}
.btn{
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
/* why dev section */
.web-dev-section{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px 0px;
}
.section-title{
    font-size: 2rem;
    margin-bottom: 10px;
}
.section-description{
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border: 1 px solid whitesmoke;
    border-radius: 10px;
}
.card .text{
    width: 60%;
    text-align: left;
}
.card .img{
    width: 180px;
}
.card h3{
    font-size: 1.5rem;
    margin-bottom: 10px;

}
.card p{
    font-size: 1 rem;
    color: #666;
    margin-bottom: 20px;
}
.btn-section{
    padding: 10px 20px;
    background-color: white;
    color: #000;
    border: 1px solid #666;
    cursor: pointer;
}
.card .img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.web-dev-section{
    padding: 80px 97px;
    border-radius: 16px;
    background-color: rgba(13,19,33,0.02);
}
/* inspiration & social media added section */
.inspiration-text{
    text-align: center;
    margin: 24px 294px;
}
.inspiration-text p{
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}


#inspiar{
    text-align: center;
}
#inspire-section{
    text-align: center;
}
.social-link{
    width: 1076px;
    height: 550px;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    box-sizing: border-box;
    border: 3px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}
/* My current target section */
.My-current-target{
    text-align: center;
    margin-top: 24px 294px;
}
.image-1{
    background-color: #FFE4E1;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    text-align: left;
}
.image-2{
    background-color: #E0FFFF;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    text-align: left;
}
.image-3{
    background-color: #FFFFE0;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    text-align: left;
}
.All-image h2{
    font-family: monospace;
    font-size: 24px;
    font-weight: 800;
}
.All-image p{
    font-size: 1rem;
    color: #666;
    margin: 18px 0px;

}
.All-image a{
    font-size: 20px;
    font-weight: bolder;
    color: #000;
    margin: 18px 0px;
    
}
.All-image{
    
    display: flex;
    margin: 0px 180px;
}

/* My next Target */
.center{
    text-align: center;
}
.center p{
    font-size: 1rem;
    color: #666;
    margin: 24px 249px;
}
.react a{
    font-size: 15px;
    font-weight: bold;
    color: #000;
}
.react p{
    margin: 10px 0px;
}
.my-next-target-image{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    gap: 32px;
   
    max-width: 1140px;
    height: 150px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32;
    padding: 30px;
    margin: 30px 24px;
}
.react h3{
    font-size: 24px;
    font-weight: 800;
}
.react{
    text-align: left;
}
.three-img-father{
    margin-left: 190px;
}
.img-next-target img{
    width: 100px;
}
.target .section-title{
    margin-top: 30px;
}


/* I need support */

.I-need-support{
    background-image: url(../images/handshake.jpg);
    color: aliceblue;
    position: static;
    width: 1044px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24;
    padding: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 260px;
    border-radius: 20px;
}
.I-need-support h2{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
.I-need-support p{
    margin: 20px 290px;
    text-align: center;
}
.input input{
    padding: 5px 50px;
    border-radius: 5px;
    border: none;
}
.input button{
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

/* footer */

.footer{
    background-color: rgba(13,19,33,0.03);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32;
    padding: 32px 150px 32px 150px;
}
.footer-img img{
    margin: 0px 10px;
}
.Submit a{
    text-decoration: none;


}
